<section class="main">
    <div class="title">
        <h2>REPAS DU JOUR</h2>
    </div>

    <div class="date">    
        <p class="date">Date : {{ todayMenu.date }}</p>
    </div>

    <section class="container">
        <h2>🥗 Entrée :</h2>
        <hr>
        <p><strong>{{ todayMenu.entree }}</strong></p>
        <p></p>
    </section>

    <section class="container">
        <h2>🍲 Plat :</h2>
        <hr>
        <p><strong>{{ todayMenu.plat }}</strong></p>
        <p></p>
    </section>

    <section class="container">
        <h2>🧀 Produit laitier :</h2>
        <hr>
        <p><strong>{{ todayMenu.produitLaitier }}</strong></p>
        <p></p>
    </section>

    <section class="container">
        <h2>🍩 Dessert :</h2>
        <hr>
        <p><strong>{{ todayMenu.dessert }}</strong></p>
        <p></p>
    </section>
</section>
